node_modules
tsconfig.tsbuildinfo
test/fixtures/lambdas/lambda-with-lock-02/build-succeeded.txt


*.d.ts
*.d.ts.map
*.js
*.js.map
*.zip

!jest.config.js
!prettier.config.js
!example.js

/lambda-with-lock-01
/lambda-with-lock-02
/lambda-with-lock-03
/lambda_with-custom-zip-filename
